html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #f5f5f5;
}

#mycontainer{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
}

#header{
    position: relative;
    min-height: 400px;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.input-w{
    display: none;
    min-height: 250px;
}

.input-w select, .input-w input, button[type]  {
    margin: 10px;
    padding: 10px;
    font-size: 32px;
    height: 80px;
}

#id_heart,
button[type] {
    width: 250px;
}

#chart-container{
    height:200px;
}

input[type=number]{
    width: 120px;
}

.input-w label {
    font-weight: bold;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
}

.output{
    padding: 25px;
    margin: auto;
}

.target,
.factor{
    display: none;
}

canvas{
    width: 400px;
    height: 400px;
    padding: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: left;
    font-size: 28px;
}

/*stylizacja placeholderow*/
input:focus::-webkit-input-placeholder {color: #d3d3d3;}
input:focus:-moz-placeholder {color: #d3d3d3;}  /* Firefox < 19 */
input:focus::-moz-placeholder {color: #d3d3d3;}  /* Firefox > 19 */
input:focus:-ms-input-placeholder {color: #d3d3d3;}  /* Internet Explorer 10 */

.square {
    min-height: 200px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.green{background-color: #00A857;}
.green:hover{background-color: #008042;}
.orange{background-color: #F89521;}
.orange:hover{background-color: #df7a07;}
.red1{background-color: #EA2830;}
.red1:hover{background-color: #d1151b;}
.red2{background-color: #9E1C20;}
.red2:hover{background-color: #82171b;}
.red3{background-color: #6c1316;}
.red3:hover{background-color: #410b0d;}
.blue1{background-color: #00cc99;}
.blue1:hover{background-color: #009973;}
.blue2{background-color: #0099cc;}
.blue2:hover{background-color: #007399;}
.blue3{background-color: #0000cc;}
.blue3:hover{background-color: #000099;}

.greentext{color: #00A857;}
.orangetext{color: #F89521;}
.red1text{color: #EA2830;}
.red2text{color: #9E1C20;}
.red3text{color: #6c1316;}
.blue1text{color: #00cc99;}
.blue2text{color: #0099cc;}
.blue3text{color: #0000cc;}

 /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 550px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#dymek_zdarzenia{
    margin-left: -400px;
    width: 400px;
}

#dymek_choroba{
    margin-left: -100px;
    width: 400px;
}

#factors_list{
    text-align: left;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.modal-subcontent,
#factors_output_list{
    display: inline-block;
    text-align: center;
}

#heart_age_message,
#id_primary_message{
    font-size: 42px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#graph_comment{
    min-height: 100px;
}

#target_column{
    text-align: left;
}

#privacy_policy_content{
    overflow-y: scroll;
    height:1000px;
}

#div_buttons{
    margin-top: 30px;
    margin-bottom: 30px;
}

#logo_knm{
    width: 300px;
    margin-top: -10px;
}

#polityki{
    display: inline-block;
}

@media print{
    #mycontainer{
        font-size: 24px;
    }

    .target{
        display: block;
        width: 1000px;
        margin-bottom: 20px;
        text-align: center;
    }

    button[type],
    #target_buttons,
    #graph_instruction,
    #graph_comment,
    #target_instruction,
    #polityki{
        display:none;
    }

    #risk_reduction_div{
        display: block;
    }
}